.actionsArea {
  max-height: 72vh;
  overflow: auto;
  flex: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.action {
  flex: 40%;
  font-size: 0.7em;
  background: #ffffa5;
  padding: 15px;
  box-shadow: 2px 4px 6px #444;
  margin: 5px;
  min-height: 15rem;
  max-width: 49%;
  -moz-box-shadow: 2px 4px 6px #444;
  -webkit-box-shadow: 2px 4px 6px #444;
}

.new-title {
  border-radius: 5px;
  border: 1px solid #39c;
  height: 2em;
  width: 60%;
  padding-left: 7px;
  padding-top: 7px;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.top-right-corner {
  position: relative;
  text-align: right;
}
