@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --main-bg-color: #f4f4f4;
  --hover-color: royalblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 90vw;
  margin: 30px auto;
  overflow: auto;
  min-height: 90vh;
  border: 1px solid royalblue;
  padding: 30px;
  border-radius: 5px;
  background-color: var(--main-bg-color);
}

.main {
  display: flex;
}

.nav {
  display: inline-block;
  height: 500px;
  width: 500px;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.icon:hover {
  color: var(--hover-color);
  cursor: pointer;
}
