.membersArea {
  flex: 50%;
  display: flex;
  flex-direction: column;
}

.bench {
  display: flex;
  flex: 45%;
  min-height: 15rem;
}

.workArea {
  display: flex;
  flex-wrap: wrap;
}

.area {
  flex: 48%;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  min-height: 12rem;
  margin: 2px;
}
.development {
  background-color: #ffcba4;
}

.testing {
  background-color: #ffb7c5;
}

.documentation {
  background-color: #87cefa;
}

.functional {
  background-color: #f6e981;
}

.member {
  height: 3.5em;
  width: 3.5em;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 1.4em;
  padding: 3px;
  font-style: normal;
  vertical-align: middle;
  border: solid #000 2px;
}

.picture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.member:hover {
  cursor: grab;
}

.member:active {
  cursor: grabbing;
}
