@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 90vw;
  margin: 30px auto;
  overflow: auto;
  min-height: 90vh;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

.timeline {
  flex-grow: 6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

.timeline div {
  flex-grow: 1;
}

.numbers {
  width: 150px;
}

.sprint-information {
  width: 250px;
}
.main {
  display: flex;
}

.membersArea {
  flex: 50%;
  display: flex;
  flex-direction: column;
}

.bench {
  display: flex;
  flex: 45%;
  min-height: 15rem;
}

.workArea {
  display: flex;
  flex-wrap: wrap;
}

.area {
  flex: 48%;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  min-height: 12rem;
  margin: 2px;
}
.development {
  background-color: lightsalmon;
}

.testing {
  background-color: lightcoral;
}

.documentation {
  background-color: lightcyan;
}

.functional {
  background-color: lightgoldenrodyellow;
}

.actionsArea {
  max-height: 72vh;
  overflow: auto;
  flex: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.action {
  flex: 40%;
  font-size: 0.7em;
  background: #ffffa5;
  padding: 15px;
  box-shadow: 2px 4px 6px #444;
  margin: 5px;
  min-height: 15rem;
  max-width: 49%;
  -moz-box-shadow: 2px 4px 6px #444;
  -webkit-box-shadow: 2px 4px 6px #444;
}

.new-title {
  border-radius: 5px;
  border: 1px solid #39c;
  height: 2em;
  width: 60%;
  padding-left: 7px;
  padding-top: 7px;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.nav {
  display: inline-block;
  height: 500px;
  width: 500px;
}

.member {
  height: 3.5em;
  width: 3.5em;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 1.4em;
  padding: 3px;
  font-style: normal;
  vertical-align: middle;
  border: solid #000 2px;
}

.picture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.member:hover {
  cursor: grab;
}

.member:active {
  cursor: grabbing;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.top-right-corner {
  position: relative;
  text-align: right;
}

.icon:hover {
  color: royalblue;
  cursor: pointer;
}
